@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.top-banner {
  background-color: #4fb3d4;
  background-image: url("./assets/asset_32.png");
  background-size: 300px;
}
.banner-text {
  text-align: center;
  color: white;
  padding: 15px;
  /* font-size: 0.75rem; */
}

.container {
  max-width: 1180px;
  /* border: 1px solid red; */
  margin-inline: auto;
  overflow: hidden;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
}

.company-logo img {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}

.nav-link {
  text-transform: capitalize;
  color: var(--primary-text-color);
  padding-block: 10px;
  transition: 0.2s ease-out;
}

.nav-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: var(--accent-color);
  color: white !important;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

/* header */
.section-gap{
padding: 50px var(--padding-inline-section) 0;
}

.header-left{
    width: 40vw;
    flex-flow: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}

.header-right img{
    width: 100%;
}
.companies-section{
  padding: 50px var(--padding-inline-section)0;
  display: flex;
  flex-direction: column;
}
.container h4{
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.logos img{
  height: 46px;
}
.features-section {
    padding: 80px var(--padding-inline-section);
}
.section-header {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.primary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 12px 24px;
}
.primary-button:hover {
    color: var(--accent-color-dark);
    transition: 0.3s 
ease-in-out;
}
a {
    text-decoration: none;
    display: inline-block;
}
.features-area{
    flex-wrap: wrap;
    background-image: url(./assets/asset_34.svg);
    background-repeat:no-repeat;
    background-position:center;
    justify-content:space-evenly;
    text-align:center;
    gap: 40px;
    margin-top: 20px;
}
.feature-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    align-items: center;
}
.flex {
    display: flex;
}
.big-features-section {
    padding: 30px var(--padding-inline-section);
}
.big-feature-container {
        flex-direction: row;
    }
.big-feature-container img {
    width: 100%;
}
.feature-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: right;
}
h3 {
        font-size: 1.2rem;
    }
h4 {
    colour : black;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.section-header h2 {
  font-size: 2.5rem;     
  font-weight: 800;     
  color: #000;           
  margin-bottom: 20px;   
  text-align: center;    
}
.primary-button {
     
  color:black;                
  font-weight: bold;          
  padding: 12px 24px;         
  border-radius: 6px;           
  text-decoration: none;        
  display: inline-block;        

}


.example-card:nth-child(1) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset_36.jpeg);
    background-size: cover;
}
.example-card {
    height: 300px;
}
.example-card:nth-child(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset_37.jpeg);
    background-size: cover;
}
.example-card:hover {
    box-shadow: 0 0 10px #888;
}
.example-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset_38.jpeg);
    background-size: cover;
}
.example-card {
    height: 300px;
}
.example-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset_39.jpeg);
    background-size: cover;
}
.example-card {
    height: 300px;
}
h3 {
    font-size: 1.5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}